.autoriz {
	display: flex;
	align-items: center;
}

.avatar {
  display: block;
  padding: 10px;
}

.descr {
	color: var(--dark-grey);;
}

.avatar:hover .icon path {
	fill: var(--black);
}

.avatar:hover .descr {
	color: var(--black);
}

.icon:hover path{
	fill: var(--black);
	transition: background-color 0.3s ease-in-out;
  }

  @media (max-width: 1024px) {

	.container {
	  max-width: 970px;
	}
  }