.autoriz {
  display: flex;
  align-items: center;
}

.avatar {
  display: block;
  padding: 5px;
  transition: color 0.3s ease-in-out;

  &:hover {
    .descr {
      color: var(--black);
      transition: color 0.3s ease-in-out;
    }

    .icon path {
      fill: var(--black);
      transition: fill 0.3s ease-in-out;
    }
  }
}

.descr {
  color: var(--dark-grey);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--black);
    transition: color 0.3s ease-in-out;
  }
}

.icon:hover path {
  fill: var(--black);
  transition: fill 0.3s ease-in-out;
}


