.avatar {
  display: block;
	padding: 10px;
}

.icon path {
  fill: var(--dark-grey);
}

.icon:hover {
	border: 1px solid var(--light-grey);
	border-radius: 50px;
	padding: 8px;
	width: 48px;
	height: 48px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
  background: var(--light-grey);
}

p {
	display: none;
}
