@import url('./fonts.scss');
@import url('../themes/normal.scss');
@import url('../themes/dark.scss');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px red solid;
}

body {
  font-family: 'OpenSans', Arial, sans-serif;
  margin: 0;
  font-weight: 400;
  min-width: 320px;
}



:root {
  //z-index
  --modal-z-index: 10;
  --bg--slider: #4F2A6E;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  // // Цвета из Фигмы
  --overlay-color: rgba(217 217 217 / 80%);
  --sorporate-yellow: #fbbc05;
  --light-corporate-yellow: #face4d;
  --dark-grey: #555;
  --grey: #bdbbbe;
  --light-grey: #f1f1f1;
  --white: #fff;
  --error: #d51a52;
  --black: #000;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app,
.app_modal{
  background: var(--bg-color);
  color: var(--primary-color);
  
}
.svgColors path {
  stroke: var(--stroke-color);
}

.svgColor path {
  fill: var(--fill-color)
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 566px;
    padding: 8px;
  }
}




