.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: var(--overlay-color);
  z-index: -1;
  overflow-y: scroll;
}

.overlay {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 0;
}

.content {
  padding: 10px;
  border-radius: 12px;
  background: var(--bg-color);
  transition: 0.3s transform;
  transform: scale(0.5);
  max-width: 60%;
}

@media (max-width: 768px) {
  .content {
    max-width: 56%;
  }

  .closeCross {
    margin-right: 5px;
  }
}

@media (max-width: 576px) {
  .content {
    max-width: 100%;
  }
}

.closeCross {
  display: flex;
  justify-content: flex-end;
}

.open {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

.close {
  .content {
    transform: scale(0.5);
  }
}

.bodyOpen {
  overflow: hidden;
}
