.field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  width: 100%;
  margin-bottom: 33px;

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-grey);
  }

  &__error {
    color: var(--error);
    font-size: 12px;
  }
}

.field > input,
.field > textarea {
  border-radius: 8px;
  font-size: 14px;
  color: var(--black);
  border: 1px solid var(--grey);
  padding: 11px 24px;

  &:focus {
    outline: none;
    border-color: var(--primary);
  }
}

.field:focus-within > .field__label {
  color: var(--text-primary);
}

.field > input:invalid,
.field > textarea:invalid {
  border-color: var(--error);
}

