.h2-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: var(--brown);
}

.menu-section {
  margin-bottom: 50px;
}

.h3-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--black);
}

.flowers-sections {
  margin-bottom: 30px;
}
