.app_dark_theme {
    --bg-color: var(--dark-grey);
    --primary-color: var(--light-grey);
    --fill-color: var(--white);
    --color-switcher-bg: var(--grey);
    --stroke-color: var(--white);
    --hover-color: var(--light-grey);
    --btn-bg: var(--white);
    --br-color: var(--white);
    --bgr-menu: var(--grey);
}