.app_light_theme {
    --bg-color: var(--white);
    --primary-color: var(--dark-grey);
    --fill-color: var(--dark-grey);
    --color-switcher-bg: var(--light-grey);
    --stroke-color: var(--dark-grey);
    --hover-color: var(--black);
    --btn-bg: var(--white)
}