.nav {
    align-items: center;
}

.list {
    display: flex;
    gap: 50px;
    padding-left: 200px;
}

.link {
    font-weight: 400;
    font-size: 14px;
    color: var(--dark-grey);
}

.btn {
    fill: var(--dark-grey);
}




  
