.nav {
  position: inherit;
  margin-right: 30px;
}

.list {
  display: flex;
  gap: 53px;
  position: absolute;
  top: 41%;
}

.item {
  font-size: 14px;
  
}

@media (max-width: 1200px) {
  .list {
    right: 21%;
  }
}

@media (max-width: 933px) {
  .nav svg:not(:last-child) {
    margin-right: 24px;
  }

  .nav {
    position: absolute;
    right: 6%;
  }
}

@media (max-width: 768px) {

  .nav {
    right: 6%;
  }
}
