.regintput {
	position: relative;
}

.showpassword {
	position: absolute;
	top: 30%;
  right: 5%;
}

input.error {
    border: 1px solid var(--error);
}

.input {
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  color: var(--black);
  border: 1px solid var(--grey);
  padding: 11px 24px;

  &:focus {
    outline: none;
    border-color: var(--primary);
  }
}

