.regintput {
    position: relative;
  }
  
  .showpassword {
    position: absolute;
    top: 30%;
    right: 5%;
  }
  
  .input {
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
    color: var(--black);
    border: 1px solid var(--grey);
    padding: 11px 24px;
  
    &:focus {
      outline: none;
      border-color: var(--primary);
    }
  }
  
  input.error {
    border: 1px solid var(--error);
  }
  
  // Стили для кастомного чекбокса
  .visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  
  .regbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--sorporate-yellow);
    border-radius: 12px;
    padding: 10px 52px;
    width: 100%;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 114%;
    text-align: center;
    color: var(--dark-grey);
  }
  
  .sistemError {
    display: block;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--error);
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .input {
      padding: 11px 16px;
    }
  
    .customcheck {
      margin-top: 5px;
    }
  
    .regbtn {
      margin-top: -5px;
    }
  }
  