.filter {
    height: 48px;
    background-color: blue;
    margin-bottom: 80px;
}

.title {
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    color: var(--primary-color);
    margin-bottom: 62px;
}

.descrtitle {
    color: var(--sorporate-yellow);
}
