.auth {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 45px;
}

.login {
    &[data-active='false'] {
        border-radius: 50px 0 0 50px;
    }
}
  
.registration {
    &[data-active='false'] {
        border-radius: 0 50px 50px 0;
    }

}