.btn {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
  &:disabled {
    opacity: 0.5;
  }

  // &[data-kind="primary"] {
  //   background-color: var(--primary);

    // &:hover {
    //   background-color: var(--primary-hover);
    // }
  // }

  &[data-kind="secondary"] {
    background-color: var(--secondary);

    &:hover {
      background-color: var(--secondary-hover);
    }
  }
}