.group {
    position: relative;
    display: flex;
    height: 36px;
    width: 76px;
    cursor: pointer;
    border: none;
    border-radius: 9999px;
    background-color: var(--color-switcher-bg);
    transition: background-color 0.3s ease-in-out;
    outline: none;
    padding: 1px;
  
    &:focus {
      outline: 1px solid white;
    }
  
    &:focus-within {
      outline: 1px solid white;
    }
  
    &[data-checked] {
      background-color: var(--color-switcher-bg);
    }

    &[data-checked] span{
        transform: translateX(2.35rem);
      }

    .sunTheme {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .moonTheme {
        position: absolute;
        top: 10px;
        right: 10px;
    }
  
    /* внутренний круг */
    span {
      pointer-events: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 34px;
      border-radius: 9999px;
      background-color: var(--bg-color);
      transition: transform 0.3s ease-in-out;
      z-index: 5;
    }
  }