.switch_option {
    font-weight: 500;
    font-size: 15px;
    line-height: 114%;
    border: 1px solid var(--light-corporate-yellow);
    background-color: var(--white);
    padding: 9px;
    color: var(--dark-grey);
    cursor: pointer;
    width: 240px;

    &[data-active='true'] {
      background-color: var(--light-corporate-yellow);
    }
}