header {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  background-color: var(--bg-color);
}

.container_head {
  position: relative;
}

.head {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
