.comment {
    max-width: 380px;
    max-height: 326px;
    height: 100%;
    width: 100%;
    outline: 1px solid var(--light-grey);
    border-radius: 16px;
    padding: 20px;

    .btn {
        border: 1px solid var(--sorporate-yellow);
        padding: 8px 28px;
        border-radius: 12px;
    }
}









