.comment {
    max-width: 378px;
    max-height: 284px;
    height: 100%;
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 16px;
    padding: 20px;

    .btn {
        border: 1px solid var(--sorporate-yellow);
        padding: 8px 28px;
        border-radius: 12px;
    }
}
.ModCard {
    padding: 0 20px 30px 20px;
}









