.star {
    width: 20px;
    height: 20px;
}

.active__star {
    fill: var(--sorporate-yellow);
    
}

.unactive__star {
    fill: var(--light-grey);; 
}

.star path {
    stroke: var(--white);
    
}