.confirmregwrapper {
	display: flex;
	flex-direction: column;
  max-width: 520px;
	margin-top: 42px;
  padding: 20px;
  padding-bottom: 20%;
}

.thanksforreg {
  margin-bottom: 3%;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  color: var(--dark-grey);
}

.confirmletter {
  width: 80%;
  margin: 15px auto;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--dark-grey);
}

.regemail {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: var(--dark-grey);
}
