.confirmregwrapper {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  padding: 20px;
  padding-bottom: 40px;
}

.thancks {
  color: var(--primary-color);
}

.confirmletter {
  width: 80%;
  margin: 9px auto;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--primary-color);
}

.regemail {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: var(--primary-color);
}

.labelSuccesCode {
  height: 32px;
}

.formSucReg {
  display: flex;
  justify-content: center;
}

input.error {
  border: 1px solid var(--error);
}

.labelSucces {
  gap: 0;
  width: 144px;
  margin-right: 20px;
}

.succesRegistBtn {
  display: block;
  border: 1px solid var(--sorporate-yellow);
  border-radius: 12px;
  padding: 8px 28px;
  width: 144px;
  height: 32px;
  background-color: var(--white);
  color: var(--dark-grey);
}

.succesRegistError {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--error);
  text-align: center;
}

.sistemError {
  display: block;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--error);
  text-align: center;
}
