.dropdown {
  position: relative;
}

.btn {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.menu {
  width: 234px;
  background-color: var(--bg-color);
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 10000;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
//   transition: transform 0.5s;
}

// Хотел сделать, чтобы меню плавно выезжало, но не срабатывают стили - надо обсудить
// .btn .open .menu {
//   transform: translateY(100%);
// }

.item {
  text-align: left;
  padding: 8px 20px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.5px;
}

.item .logoutBtn {
  border: 1px solid var(--black);
}

.focus {
  background-color: var(--bgr-menu);
}
