.content {
  width: 540px;
}

.form {
  padding: 0 20px;
  padding-bottom: 65px;
}

.forgotFormEmailWrapper {
  margin-bottom: 20px;
}

input.error {
  border: 1px solid var(--error);
}

.input {
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  color: var(--black);
  border: 1px solid var(--grey);
  padding: 11px 24px;

  &:focus {
    outline: none;
    border-color: var(--primary);
  }
}

.forgotFormH2 {
  margin: 20px 0 28px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: var(--primary-color);
}

.errorCode {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 100%;
  color: var(--error);
}

.forgotFormBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--sorporate-yellow);
  border-radius: 12px;
  padding: 12px 52px;
  width: 480px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: var(--dark-grey);
  background-color: var(--white);
  letter-spacing: 0.6px;
}
