header {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 566px;
    padding: 8px;
  }

  
}
