@import url('./fonts.scss');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px red solid;
}

body {
  font-family: Inter, Arial, sans-serif;
  margin: 0;
  font-weight: 400;
  min-width: 320px;
}

:root {

  //color
  --overlay-color: rgba(217 217 217 / 80%);
  // --color-border: #555;
  // --primary: #00a82d;
  // --primary-hover: #008f26;
  // --secondary: #737373;
  // --secondary-hover: #333;

  // --text-primary: #333;
  // --text-secondary: #afafaf;

  // --border: #e6e6e6;
  // --border-accent: #008f2680;

  // --background: #fff;
  // --error: #ff7070;

  //z-index

  --modal-z-index: 10
  
  // // Цвета из Фигмы
  
  --sorporate-yellow: #fbbc05;
  --light-corporate-yellow: #face4d;
  --dark-grey: #555;
  --grey: #bdbbbe;
  --light-grey: #f1f1f1;
  --white: #fff;
  --error: #d51a52;
  --black: #000;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}




